/* Import fonts from Google Fonts */
<style>
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
</style>
/* Apply the sans-serif font to the body text */
article :not(h1, h2, h3, h4, h5, h6) {
  font-family: "Atkinson Hyperlegible Next", !important;
}
.rendered-mdx:not(.is-plain) :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 500;
    /* font-style: italic; */
    color: var(--tw-prose-quotes);
    border-left-width: .25rem;
    border-left-color: var(--tw-prose-quote-borders);
    quotes: "\201C""\201D""\2018""\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
}
